* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.content,
.content > div {
  width: 100%;
  height: 100%;
  line-height:1;
}

.content > .message {
  text-align: center;
  display: table;
  font-size: 16px;
  color: #111;
}

.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.content .error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
}

.content .error pre {
  border: solid 1px #CCC;
  background: #EEE;
  padding: 10px;
}

.content:not(.with-error) .error,
.content.with-error .intro,
.content.with-diagram .intro {
  display: none;
}


.content .canvas,
.content.with-error .canvas {
  visibility: hidden;
}

.content.with-diagram .canvas {
  visibility: visible;
}

/* Menu */
.defaultinactive a {
  opacity: 0.3;
}
.defaultinactive a.active {
  opacity: 1.0;
}

/* Context Pad */
.app-icon-active{
  background-color: rgb(255, 252, 176);
}
.bpmn-icon-appensemble:before{
  content: url('../img/AppEnsemble.svg');
}
.bpmn-icon-app-remove:before{
  content: url('../img/App-remove.svg');
}
.bpmn-icon-app:before{
  content: url('../img/App.svg');
}

/* Markers*/
.color-appensemble:not(.djs-connection) .djs-visual > * {
  stroke:  #426188 !important; /* color elements as green */
  stroke-width: 1px !important;
  fill:rgba(66, 97, 136, 0.13) !important;
}

.color-appensembleapp:not(.djs-connection) .djs-visual rect{
  stroke:  #000 !important;
  fill: #eee !important;
}
.color-appensembleapp:not(.djs-connection) .djs-visual path{
  fill: #fff !important;
}

#js-save-appensemble,#close-modeler ,#js-download-svg,#js-save-appensemble-and-close{
  background-position:left center;
  background-size: 35px;
  background-repeat:no-repeat;
  padding-left:40px;
}

#js-save-appensemble-and-close{
  background-image: url('../img/iconmonstr-save-2-icon.svg');
}
#js-save-appensemble{
  background-image: url('../img/iconmonstr-save-5-icon.svg');
}
#js-download-svg{
  background-image: url('../img/iconmonstr-picture-multi-2-icon.svg');
}
#close-modeler{
  background-image: url('../img/iconmonstr-x-mark-4-icon.svg');
}


